/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.Documentation-View{
  display: grid;
}

.codDoc-Container{
  display: grid;
  justify-self: center;

}


.codDoc-Container>section{
  display: grid;
}
code{
  display: grid;
  padding: 20px;
  width: auto;
  height: auto;
  color: rgb(113, 175, 251);
  /* color: white; */
  justify-items: center;

}


pre {
  padding: .5rem;
  overflow: scroll;
  border-radius: 3px;
  max-width: 75em;
  border-radius: 7px;
  background-color: rgb(28, 28, 28);
  /* background: linear-gradient(to bottom, #00aecd, #136DC0 20%); */
  background-color: black;

}

pre code {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
}

pre::-webkit-scrollbar{
  display: none;
}